
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Student LOGIN FORM</h1>
    <div class="container w3">
        <h2>Login Now</h2>
		<form action="VerifyCredentials" method="post">
			<div class="username">
				<span class="username">StudentID:</span>
				<input type="text" name="Id" class="name" placeholder="1234" required="">
				<div class="clear"></div>
			</div>
			<div class="password-agileits">
				<span class="username">Password:</span>
				<input type="password" name="LoginPassword" class="password" placeholder="" required="">
				<div class="clear"></div>
			</div>
			<div class="rem-for-agile">
				<input type="checkbox" name="remember" class="remember">Remember me<br>
				<a href="#">Forgot Password</a><br>
			</div>
			<div class="login-w3">
					<input type="submit" class="login" value="Login">
			</div>
			<div class="clear"></div>
		</form>
	</div>
